---
layout: default
title: Our Amazing Portfolio
---

<div class="portfolio" id="portfolio">

  {% include page-title.html %}

  <div class="work">
    <div class="workSection themesSection--free wrap">
      <div class="workContainer">
      {% for project in site.portfolio %}
        <a class="workItem" href="{{ project.url }}" data-aos="fade-up">
          <picture>
            <source srcset="{{ site.url }}/assets/img/{{ project.featured-image }}.webp" type="image/webp">
            <source srcset="{{ site.url }}/assets/img/{{ project.featured-image }}.png" type="image/png">
            <img src="{{ site.url }}/assets/img/{{ project.featured-image }}.png" alt="{{ theme.title }}">
          </picture>
        </a>
      {% endfor %}
      </div>
    </div>
  </div>

</div>
