.footer {
  @include sectionspace;
  text-align: center;
  background-color: $blue--dark;
  color: white;
}

.footer__container {
  @include min(md) {
    display: flex;
  }

  > * {
    @include min(md) {
      flex: 1;
    }
  }
}

.footerInfo {

  @include min(md) {
    text-align: left;
  }

  &__logo {
    display: block;
    max-width: rem(380);
    margin: 0 auto rem(20);

    @include min(md) {
      margin-left: 0;
    }
  }

  &__item {
    margin-bottom: rem(10);
  }

}

.footerNav {
  @include min(md) {
    text-align: right;
  }

  &__link {
    display: inline;
    @include nav-text;
    padding: 0 rem(5);

    @include min(md) {
      padding: 0 rem(10);
    }

    a {
      text-decoration: none;
      color: $green;
    }
  }
}

.footerNav__list--social {
  margin-top: rem(20);

  .footerNav__link {
    padding: 0 rem(5);
    transition: .2s all ease-in-out;

    &:hover {
      opacity: .6;
    }
  }
} 
