.contactForm {
  max-width: rem(800);
  margin-left: auto;
  margin-right: auto;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: rem(20);
      padding: 0 rem(10);
    }
  }

  input,
  textarea {
    width: 100%;
  }

  input[type="submit"] {
    max-width: rem(300);
    margin-left: auto;
    margin-right: auto;
  }

}
