.cta {
  background-color: $gray--light;
  @include sectionspace();
  text-align: center;

  .wrap {
    max-width: map-get($wraps, md);
    line-height: 1.8;
  }
}

.cta__heading {
  @include heading-text;
}
